:root {
  --color-bg: #26272b;
  --color-text: #f4f4f4;
  --color-blue: #6900ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: var(--color-text);
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.positive{
  color: #27e827;
}
.negative {
  color: #ff0000;
}
